<ion-header>
  <custom-logged-header [title]="'chat' | capitalize: true"></custom-logged-header>

  <ion-toolbar>
    <ion-segment [(ngModel)]="view">
      <ion-segment-button value="chats">Chats</ion-segment-button>
      <ion-segment-button value="users">Users</ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar (ionInput)="filterItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="view">
    <ion-list *ngSwitchCase="'chats'" no-lines="">
      <button ion-button *ngFor="let chat of chats | async" (click)="onChatOpen(chat)">
        <ion-avatar icon-end>
          <img [src]="chat.photo || 'assets/imgs/no-photo.jpg'">
        </ion-avatar>
        <h2>{{ chat.title }}</h2>
        <p *ngIf="chat.lastMessage; else customMessage">{{ chat.timestamp | date:'dd/MM/y' }} - {{ chat.lastMessage }}</p>
        <ng-template #customMessage>
          <p>No messages</p>
        </ng-template>
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'users'" no-lines="">
      <button ion-button *ngFor="let user of users | async" (click)="onChatCreate(user)">
        <ion-avatar icon-start>
          <img [src]="user.photo || 'assets/imgs/no-photo.jpg'">
        </ion-avatar>
        {{ user.name }}
      </button>
    </ion-list>
  </div>

  <button ion-button block (click)="onSignup()">Sign Up</button>
</ion-content>
